# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
build
dist

# Production
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.env*.local
.env

# Vercel
.vercel

# IDE
.vscode
.idea
*.swp
